{
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:react/recommended"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off"
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["prettier", "react"],
  "globals": {
    "graphql": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}
